<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="shortcut icon" href="#" />
    <title>vue carousel</title>
  </head>
  <body>
    <div id="app">
      <div class="carousel" @touchstart="swipeStart" @touchend="swipeEnd" @mousedown="swipeStart" @mouseup="swipeEnd">
        <div class="carousel_items">
          <div class="carousel_item">
            <transition :name="bgImgFade">
              <div class="carousel_item_img_desktop" :style="{ backgroundImage: `url('${itemHandler.desktopImg}')` }" v-if="show"></div>
            </transition>
            <transition :name="bgImgFade">
              <div class="carousel_item_img_mobile background_left_enter" :style="
              { backgroundImage: `url('${itemHandler.mobileImg}')` }" v-if="show"></div>
            </transition>
            <div class="carousel_item_content">
              <div class="content_inner" :style="
              { top: `${moveY}px` }">
                <transition :name="logoFade">
                  <div class="carousel_item_logo" v-if="show">
                    <a :href="itemHandler.url"><img :src="itemHandler.logo" :style="
                      { opacity: `${1-moveY*0.02}` }"></a>
                  </div>
                </transition>
                <div class="carousel_item_desc">
                  <transition :name="titleFade">
                    <h1 class="carousel_item_title" v-if="show"><a :href="itemHandler.url">{{ itemHandler.title }}</a></h1>
                  </transition>    
                  <transition :name="buttonFade">
                    <a :href="itemHandler.url" v-if="show"><button class="carousel_item_button">{{ itemHandler.button }}</button></a>
                  </transition>
                </div>
              </div>
            </div>
          </div>
        <a class="carousel_control carousel_control_prev" href="" @click.prevent="prevNextHandler(-1)"><i class="fas fa-angle-left"></i></a>
        <a class="carousel_control carousel_control_next" href="" @click.prevent="prevNextHandler(1)"><i class="fas fa-angle-right"></i></a>
        </div>
      </div>
      <ul class="carousel_indicators">
        <li v-for="(tab, i) in carouselItems" :key="i" @click="tabHandler(i)">
          <div class="carousel_index_border" :class="{ 'border_active': i === index }">
            <div class="loading_bar" v-show="i === index && !clicked"></div>
          </div>
        </li>
      </ul>
      <div class="content"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>