*{
  font-family: Arial,Helvetica,"Segoe UI Symbol","Segoe MDL2 Assets","微軟正黑","Microsoft JhengHei","Tei TC",sans-serif;
}
body{
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
.carousel{
  width: 100%;
  height: 600px;
  background-color: #000;
  position: relative;
}
.carousel_indicators{
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: -25px;
  text-align: center;
}
.carousel_indicators > li{
  padding-top: 10px;
  padding-right: 2.5px;
  padding-left: 2.5px;
  display: inline-block;
  width: 100px;
  height: 25px;
  box-sizing: border-box;
  cursor: pointer;
}
.carousel_indicators > li:hover .carousel_index_border{
  background-color: rgba(255, 255, 255, 0.6);
}
.carousel_indicators > li:hover .carousel_index_border.border_active{
  background-color: #0e86ca;
}
.carousel_index_border{
  width: 100%;
  height: 6px;
  background-color: rgba(255,255,255,.3);
}
.border_active{
  background-color: #0e86ca;
}
.loading_bar{
  width: 100%;
  height: 6px;
  background: #00aeff;
  animation: border_loading 6s;
}
.carousel_item{
  overflow: hidden;
  position: relative;
}
.carousel_item_img_desktop{
  width: 100%;
  height: 600px;
  background-size: auto;
  background-position: 50% top;
}
.carousel_item_img_mobile{
  display: none;
}
.carousel_control{
  display: none;
  padding: 15px 10px;
  background-color: rgba(0, 0, 0, 0.4);
  border: solid 1px rgba(255, 255, 255, 0.15);
  font-size: 50px;
  color: #00aeff;
  transition: color .2s;
}
.carousel:hover .carousel_control{
  display: block;
  transition: .2s;
}
.carousel_control:hover{
  color: #91e4ff;
}
.carousel_control_prev{
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
}
.carousel_control_next{
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(-50%);
}
.carousel_item_content{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  user-select: none;
}
.content_inner{
  margin: 0 140px;
  box-sizing: border-box;
  padding: 0 40px;
  position: relative;
}
.carousel_item_logo{
  margin-bottom: 40px;
  height: 155px;
  position: relative;
}
.carousel_item_logo img{
  height: 100%;
  user-select: none;
}
.carousel_item_desc{
  max-width: 700px;
  height: 255px;
}
.carousel_item_title{
  margin: 0;
  font-size: 70px;
  position: relative;
  user-select: none;
}
.carousel_item_title > a{
  color: #fff;
  text-decoration: none;
}
.carousel_item_button{
  margin-top: 20px;
  padding: 10px 50px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  background-color: #0e86ca;
  border: solid 1px #00aeff;
  cursor: pointer;
  transition: background-color .2s;
  position: relative;
  user-select: none;
  transform: inherit;
}
.carousel_item_button:hover{
  background-color: #00aeff;
}
@media screen and (max-width: 1720px){
  .carousel_control_prev{
    left: 15px;
  }
  .carousel_control_next{
    right: 15px;
  }
}
@media screen and (max-width: 1200px){
  .carousel_item_logo{
    height: 120px;
  }
  .content_inner{
    margin: 0 80px;
  }
  .carousel_item_title{
    font-size: 60px;
  }
}
@media screen and (max-width: 992px){
  .carousel_indicators > li{
    width: 60px;
  }
}
@media screen and (max-width: 768px){
  .carousel{
    height: 450px;
  }
  .carousel_item_img_desktop{
    display: none;
  }
  .carousel_item_img_mobile{
    display: block;
    width: 100%;
    height: 450px;
    background-size: 768px auto;
    background-position: 50% 0px;
  }
  .carousel_indicators{
    width: 100%;
    transform: translateX(0%);
  }
  .carousel_indicators > li{
    padding-top: 15px;
    width: 16%;
  }
  .carousel_index_border{
    height: 3px;
  }
  .loading_bar{
    height: 3px;
  }
  .carousel_item_content{
    padding: 0 20px;
    width: 100%;
    bottom: 40px;
    box-sizing: border-box;
  }
  .carousel_item_desc{
    text-align: center;
    height: 200px;
  }
  .carousel_item_logo{
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .content_inner{
    margin: 0;
  }
  .carousel_item_title{
    text-align: center;
    font-size: 43px;
  }
  .carousel_item_button{
    margin-top: 30px;
    width: 200px;
  }
  .carousel_control{
    display: block;
    padding: 10px 2px;
    font-size: 25px;
  }
  .carousel_control_prev{
    left: 0;
  }
  .carousel_control_next{
    right: 0;
  }
}
@media screen and (max-width: 480px){
  .carousel_item_img_mobile{
    background-size: cover;
    background-repeat: no-repeat;
  }
  .carousel_item_content{
    bottom: 60px;
  }
  .carousel_item_desc{
    height: 150px;
  }
  .carousel_item_title{
    font-size: 25px;
  }
  .carousel_item_button{
    width: 100%;
  }
}

.bgImgRight-fade-enter-active{
  animation: background_right_in 5.5s ease-out;
}
.bgImgLeft-fade-enter-active{
  animation: background_left_in 5.5s ease-out;
}

.logoRight-fade-enter{
  opacity: 0;
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}
.logoRight-fade-enter-active{
  transition: all .5s ease-out .5s;
}
.logoLeft-fade-enter{
  opacity: 0;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
}
.logoLeft-fade-enter-active{
  transition: all .5s ease-out .5s;
}

.titleRight-fade-enter-active {
  transition: all .5s ease-out .7s;
}
.titleRight-fade-enter{
  transform: translateX(20px);
  opacity: 0;
}
.titleLeft-fade-enter-active {
  transition: all .5s ease-out .7s;
}
.titleLeft-fade-enter{
  transform: translateX(-20px);
  opacity: 0;
}

.buttonRight-fade-enter-active {
  transition: all .5s ease-out .9s;
}
.buttonRight-fade-enter{
  transform: translateX(20px);
  opacity: 0;
}
.buttonLeft-fade-enter-active {
  transition: all .5s ease-out .9s;
}
.buttonLeft-fade-enter{
  transform: translateX(-20px);
  opacity: 0;
}

@keyframes background_right_in{
  0%{
    opacity: 0;
    background-position: 0% top;
  }
  9.0909%{
    opacity: 1;
    background-position: 30% top;
  }
  100%{
    opacity: 1;
    background-position: 50% top;
  }
}
@keyframes background_left_in{
  0%{
    opacity: 0;
    background-position: 100% top;
  }
  9.0909%{
    opacity: 1;
    background-position: 70% top;
  }
  100%{
    opacity: 1;
    background-position: 50% top;
  }
}
@keyframes border_loading{
  0%{
    width: 0%;
    background-color: #00aeff;
  }
  100%{
    width: 100%;
    background-color: #00aeff;
  }
}

.content{
  width: 100%;
  height: 600px;
  background-color: #fff;
  position: relative;
  top: -25px;
}